.projects {
    flex: 1;
    margin-top: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects h3 {
    font-size: 68px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .skills {
        padding-inline: 20px;
    }

    .skills h2 {
        text-align: center;
        font-size: 64px;
    }

    .projects {
        padding-inline: 20px;
        margin-top: 30px;
        align-items: center;
    }

    .projects h3 {
        text-align: center;
        font-size: 64px;
    }

    .project-cards {
        justify-content: center;
    }

    .project-card {
        width: 80%;
        max-width: 400px;
    }
}
