.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas menores */
}

.skills {
    padding-top: 46px;
    flex: 1;
    padding-inline: 82px;
    min-width: 300px; /* Garantir que não fique muito pequeno em telas menores */
}

.projects {
    flex: 1;
    margin-top: 40px;
    min-width: 300px; /* Garantir que não fique muito pequeno em telas menores */
}

.skills h2, .projects h3 {
    font-size: 68px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
}

.skill-name {
    font-weight: bold;
    font-size: 26px;
}

.bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.bar-inner {
    height: 100%;
    background-color: #000;
    border-radius: 5px;
}

.project-cards {
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    text-decoration: none;
    color: inherit;
}

@media (min-width: 769px) {
    .project-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .project-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 768px) {
    .project-card {
        transition: none;
    }
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-card h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
    flex-grow: 1;
}

.project-link {
    text-decoration: none;
    color: #292f6d;
    font-weight: bold;
    transition: color 0.3s;
    margin-top: auto;
    align-self: flex-start;
    white-space: nowrap;
}

.project-link:hover {
    color: #3e4db0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .skills {
        padding-inline: 20px;
    }

    .skills h2 {
    text-align: center;
    font-size: 64px;
    }

    .projects {
        padding-inline: 20px;
        margin-top: 30px;
    }

    .projects h3 {
    text-align: center;
    font-size: 64px;
    }
    .project-card {
        width: 100%;
        max-width: 400px;
    }
}
